---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { calculadoras } from "../data/calculadoras"; // Importamos la lista
---

<Layout title="Chieffin - Calculadoras Inteligentes">
  <div class="text-center py-16 px-4">
    <h1 class="text-5xl font-black text-slate-900 tracking-tight">
      Todas las <span class="text-blue-600">Calculadoras</span>
    </h1>
  </div>

  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 px-4 max-w-6xl mx-auto mb-20"
  >
    {calculadoras.map((calc) => <Card {...calc} />)}
  </div>
</Layout>
