---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Chieffin - Herramientas SEO & Finanzas">
  <h1 class="text-4xl font-black text-center my-12 text-slate-800">
    Herramientas <span class="text-blue-600">SEO & Finanzas</span>
  </h1>

  <div class="grid md:grid-cols-2 gap-8 px-4 max-w-6xl mx-auto">
    <a
      href="/porcentaje"
      class="p-8 border-2 rounded-3xl hover:border-blue-500 hover:shadow-2xl transition group bg-white block shadow-sm"
    >
      <h2
        class="text-2xl font-bold mb-2 group-hover:text-blue-600 text-slate-800"
      >
        📊 Calculadora Porcentaje
      </h2>
      <p class="text-slate-500 font-medium">
        Calculá variaciones y porcentajes rápido.
      </p>
    </a>

    <a
      href="/prestamo"
      class="p-8 border-2 rounded-3xl hover:border-blue-500 hover:shadow-2xl transition group bg-white block shadow-sm"
    >
      <h2
        class="text-2xl font-bold mb-2 group-hover:text-blue-600 text-slate-800"
      >
        💸 Préstamos
      </h2>
      <p class="text-slate-500 font-medium">Simulá tus cuotas fácilmente.</p>
    </a>
  </div>
</Layout>
