---
// src/components/CompartirBtn.astro
---

<button
  id="btnGlobalCompartir"
  class="hidden mt-6 w-full bg-green-600 hover:bg-green-700 text-white font-bold py-4 px-4 rounded-2xl flex items-center justify-center gap-2 transition-all active:scale-95 shadow-lg shadow-green-100"
>
  <span>Compartir Resultado</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    ><path
      d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 1 1-7.6-11.7 8.38 8.38 0 0 1 3.8.9L21 3z"
    ></path></svg
  >
</button>
